:root {
    --bg-main: #F5F5F5;
    --bg-header: #1F2229;

    --search-color: #7C8792;

    --mobile-menu: #959597;

    --mobile-border: #EDEDED;

    --light-grey: #D3D9DF;
    --dark-grey: #7C8792;
    --grey: #959597;
    --white: #ffffff;
    --blue: #3FCBFF;
    --black: #1F2229;
}